{% extends "base.html.twig" %} {% block content %}


<div class="row">
  {% for row in products %}
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{row.designation}}</h5>

        {#faire un for sur les cat#}
      {#  <p class="card-text">{{row.category}}</p>#}
        <p class="card-text">{{row.publishedDate.format("d/m/Y")}}</p>
        <p class="card-text">{{row.content[:200]}}...</p>
        <img src="{{asset('uploads/product/'~ row.image)}}" alt="image"> {#
        <a href="{{path('product', {'id':row.id})}}">Voir plus</a>#}
        <a href="{{path('view_product', {'id':row.id})}}" class="btn btn-primary">Voir ces chips</a>

        {% if is_granted ('ROLE_ADMIN') %}
        <a href="{{path('delete', {'id':row.id})}}" class="btn btn-secondary">Supprimer</a>
        <a href="{{path('edit', {'id':row.id})}}" class="btn btn-secondary">Modifier</a>
        {% else %}
        <a href="{{path("line_shopping_cart", {"id":row.id})}}" class= "btn btn-outline-success">Mettre au panier</a>
        {% endif %}

      </div>
    </div>
  </div>
  {% endfor %}


</div>

{% endblock content %} 