{% block header %}
<header>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
      
<a class="navbar-brand logo" href="{{path('home')}}"></a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">

        {% if is_granted ('ROLE_ADMIN') %}

        <li class="nav-item">
          <a class="nav-link" href="{{path('add_product')}}">Ajouter un produit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('add_category')}}">Ajouter une catégorie</a>
        </li>


        {% else %} 
        
        {% endif %}

        {% for cat in category %}
        <li class="nav-item size_cat">
          <a class="nav-link" href="{{path('view_category',{'category': cat.getId()})}}">
            {{ cat.title }}
          </a>
        </li>
        {% endfor %}

        <li class="nav-item">
          <a class="nav-link" href="{{path('createAccount')}}">Créer un compte</a>
        </li>


        {% if not app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('login')}}">Connexion</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('logout')}}">Se déconnecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('shopping_cart')}}">Panier</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </nav>


</header>
{% endblock header %}