{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block content %}

<div class="container">
<div class="form-group">
      {{form_start(form)}}
      {{form_widget(form)}}
      <button type="submit" href="{{path('home')}}">Submit</button>
      {{form_end(form)}}
</div>
</div>

{% endblock %}
