{% extends "base.html.twig" %} {% block content %}

<header class="jumbotron">
  <center>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol> 

          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href = "http://www.lays.fr/"><img class="d-block w-100" src="{{asset('uploads/product/nat-7.jpg')}}" alt="First slide"></a>
            </div>
            <div class="carousel-item">
                <a href = "http://www.lays.fr/"><img class="d-block w-100" src="{{asset('uploads/product/nat-9.jpg')}}" alt="Second slide"></a>
            </div>
            <div class="carousel-item">
                <a href = "http://www.lays.fr/"><img class="d-block w-100" src="{{asset('uploads/product/nat-5.jpg')}}" alt="Third slide"></a>
            </div>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

  </center>
</header>

<div class="container-fluid">
  <div class="row text-center">

    {% for row in product %}
    <div class="col-12 col-lg-3 col-md-4 col-sm-6">
        
      <div class="card border-primary mb-5">
          <img class="img-style" src="{{asset('uploads/product/'~ row.image)}}" alt="image">
       
        <div class="card-body">
          <h4 class="card-title">{{row.designation}}</h4>
          <p class="card-text">{{row.publishedDate.format("d/m/Y")}}</p>
          <p class="card-text">{{row.content[:100]}}...</p>
        </div>
        <div class="card-footer">
          <a href="{{path('view_product', {'id':row.id})}}" class="btn btn-primary" style="margin:1%">Voir ces chips</a>

          {% if is_granted ('ROLE_ADMIN') %}
          <div class="row">
            <a href="{{path('delete', {'id':row.id})}}" class="btn btn-outline-secondary" style="margin-left:auto">Supprimer</a>
            <a href="{{path('edit', {'id':row.id})}}" class="btn btn-outline-secondary" style="margin-right:auto">Modifier</a>
          </div>
          {% else %}

          {% if not app.user %}
          <p>Veuillez vous connecter ou créer un compte pour pouvoir ajouter au panier</p>

          {% else %}
          <a href="{{path("line_shopping_cart", {"id":row.id})}}" class= "btn btn-outline-success">Ajouter au panier</a>
          {% endif %}

          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}